.positive {
    color: #439B3B;
    border: 2px solid #439B3B;
    padding: 5px;
}

.negative {
    color: red;
    border: 2px solid red;
    padding: 5px;
}

.blog {
    padding: 5px 2px 2px 2px;
    border: 1px solid lightblue;
    margin: 0px 0px 2px 0px;
}
